.idea/

*.class

*.so

*.log

.vscode/
.metals/

crash-*
oom-*
slow-*
hs_*

LibFuzzerLauncher

jazzer/scratch/

dacapo-9.12-MR1-bach.jar

out_smf
out_jazzer
fuzzerOut

*JazzerReport*/
*SMFReport*/
*Report.csv

misc/

smf_out*/
jzr_out*/

*perf.data
*perf.data.old

*jacoco.exec
*.exec
*text_report
*/ExampleFuzzReport/
*coverage_report
*/containerOut/*

smfbase.tar
